
body {
  background: linear-gradient(to right, #1f1c2c, #928dab);
  color: #333;
  font-family: 'Poppins', sans-serif;
}
 /* nav */
.nav-item>a{
    color: #f7f5f8;
} 
.nav-item>a:hover{
    transform: translateY(-5px);
  box-shadow: 0 8px 20px rgba(0,0,2,0.2);
}

 /* header */
.top-container{
display: flex;
  align-items: center;
  justify-content: space-between;
  min-height: 100vh;
  background: #fdfdfd;
  
      
}
.heading{
    display: flex;
    flex-direction: column;
    justify-content: center;
    animation: header 2s; 
}
.img{
    display: flex;
    justify-content: center;
   
}
#images{
   width: 300px;
  height: 300px;
  border-radius: 50%;
  
  box-shadow: 15px 8px 10px rgba(0,0,0,0.2);
}


.button{
    display: flex;
    flex-direction: row;
    gap: 10px;

}

.btn{
    width: 100px;
    height: 40px;
    border-radius: 35px;
    /* transition: all 0.3s ease; */

}
.btn:hover {
  transform: scale(1.05);
 
  color: #fff;
}

.icon{
    font-size: 35px;
    
}
.icon:hover{
    color: #333;
}

/*projects*/
.projects{
    display: flex;
    align-items: center; 
    justify-content: center;
    flex-direction: column;
    width: auto;
    border: solid 2px black;
    
}
.project-container{
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #dec9ee;
     animation: appear both;
     animation-timeline: view();
    animation-range: 10% cover 100vh;
 
}
@keyframes appear {
    from{
        opacity: 0;
        transform: translateY(100px);
    }
    to{
        opacity: 1;
        transform: translateY(0);
    }
}

.projects{
  margin-bottom: 20px;
  background: #fff;
  border-radius: 10px;
  padding: 20px;
  transition: 0.3s;
 
}
.projects:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 20px rgba(0,0,0,0.2);
}
.icon{
    font-size: 30px;
   
}

/*skill*/

.skill-container{
   min-height: 100vh;
   display: flex;
   align-items: center;
   justify-content: center;
   background-color: #dec9ee;
   animation: appear both;
     animation-timeline: view();
    animation-range: 10% cover 100vh;
 
}
@keyframes appear {
    from{
        opacity: 0;
        transform: translateY(100px);
    }
    to{
        opacity: 1;
        transform: translateY(0);
    }
}
.skill-row{
    width: 100%;
}



.skill-label{
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}
.percent{
    width: 100%;
    height: 10px;
    background-color: rgb(230, 242, 242);
    margin-bottom: 20px;
}

/*skill-2*/
.percent-85{
    width: 100%;
    height: 10px;
    background-color: rgb(230, 242, 242);
    
}
.percent-skill-85{
    width: 85%;
    height: 10px;
    background-color: aqua;
}
.percent-3{
    width: 100%;
    height: 10px;
    background-color: rgb(230, 242, 242);
}
.percent-skill-3{
    width: 75%;
    height: 10px;
    background-color: aqua;
}
.skill-label-back{
    display: flex;
    justify-content: space-between;
}
.percent-skill-80{
    width: 80%;
    height: 10px;
    background-color: aqua;
    
}
.percent-skill-75{
    width: 75%;
    height: 10px;
    background-color: aqua;
    
}
.percent-skill-95{
    width: 95%;
    height: 10px;
    background-color: aqua;
    
}
.percent-skill{
    animation: percent 4s  ease-in-out forwards;
   
}



/* percentage ski ll*/
.percent-skill-75{max-width: 75%;}
.percent-skill-80{max-width: 80%;}
.percent-skill-95{max-width: 95%;}
.percent-skill-85{max-width: 85%;}



@keyframes percent{
   from{width: 0;}
   to{width: 100;}
}

/* .text{
    width: 350px;
    height: 30px;
    margin-left: 60px;
}
.contact{
    
}
.form-group>label{
    margin-right: 20px;
}
.form-group{
    display: flex;
    gap: 20px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.contact-info{
   
}


#contact{
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
  background-color: #dec9ee;
}
.contact-content{
    display: flex;
    margin-left: 35px;
    align-items: center;
    gap: 20px;
    margin-top: 20px;
}
.email{
    width: 350px;
    height: 100px;
    margin-left: 60px;
} */
 .toper{
        /* display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column; */
 }


@keyframes header{
    from{
        transform: translate(100%);
    }
    to{
        transform: translate(0%);
    }
}
/* CSS for Typing Effect */



/* contact */
.contact-info:hover{
     transform: translateY(-5px);
  box-shadow: 0 8px 20px rgba(0,0,0,0.2);
}
.contact-div:hover{
       transform: translateY(-5px);
        box-shadow: 0 8px 20px rgba(0,0,0,0.2);
}
.contact-info{
     background-color: #dec9ee;
}
.contact-us{
    display: flex;
    flex-direction: column; 
}
.contact-us:hover{
transform: translateY(-5px);
        box-shadow: 0 8px 20px rgba(0,0,0,0.2);
}
.contact-icon{
    font-size: 30px;
    color: #333;
}

.contact-row{
    display: flex;
    align-items: center;
    justify-content: center;
}
.contact-content{
    display: flex;
    gap: 20px;
    margin-top: 20px;
}
.form-group{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}
.form-group>input{
    width: 500px;
    border-radius: 20px;
}
.contact-btn{
    width: 150px;
}
.email-text{
    height: 75px;
}

.navi{
    position: absolute;
    bottom: 0;
    right: 0;
    font-size: 70px;
    display: none;
    position: fixed;   
}
.project:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 20px rgba(0,0,0,0.2);
}




.contact-icon:hover {
  color: #6a0dad;
  transform: scale(1.2);
  transition: transform 0.3s ease, color 0.3s ease;
}

.contact-btn:hover {
  transform: scale(1.05);
  box-shadow: 0 0 15px rgba(106, 13, 173, 0.6);
  transition: all 0.3s ease-in-out;
}
